// _variable.scss
// fonts
$main-font: "pretendard", "맑은 고딕", san-serif;
$sub-font: "REM", "pretendard", san-serif;

// color
$m-color: "#222";
$s-color: "#d6d6d6";
$t-color: "#1a7ef3";

// 모바일
$breakpoint-mobile: 380px;

// breakpoint
$breakpoint: 640px;

// PC
$breakpoint-desktop: 1200px;
