// loading.scss
@import "./variable";
@import "./mixin";

.loading-cont {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: $sub-font;
  opacity: 1;
  transition: opacity 1s ease-out;
  position: relative;
  top: 0;
  left: -15px;
}
.loading-cont.fade-out {
  opacity: 0;
}
@include mobile {
  .loading-cont {
    font-size: 3rem;
  }
}
@include breakpoint {
  .loading-cont {
    font-size: 5rem;
  }
}
@include desktop {
  .loading-cont {
    font-size: 8rem;
  }
}
