$main-font: "pretendard", "맑은 고딕", san-serif;
$sub-font: "REM", "pretendard", san-serif;
$main-color: "#222";
$sub-color: "#d6d6d6";

:root {
  // background-color: #ddd;
}
body {
  min-width: 390px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: $main-font;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  word-break: keep-all;
  background-color: #fff;
  box-sizing: border-box;
}

ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
em {
  font-size: inherit;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
  font-style: normal;
  margin: 0;
  padding: 0;
}
