@import "./variable";
@import "./mixin";

@include mobile {
  body {
    font-size: 1rem;
    font-weight: 300;
  }
}

@mixin breakpoint {
  body {
    font-size: 1rem;
    font-weight: 400;
  }
}

@include desktop {
  body {
    font-size: 1rem;
    font-weight: 400;
  }
}
body {
  min-width: 390px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: $main-font;
  line-height: 1.5;
  word-break: keep-all;
  background-color: #fff;
  box-sizing: border-box;
}
:root::-webkit-scrollbar-track {
  background-color: transparent;
  margin-top: 90px;
}
body::-webkit-scrollbar-thumb {
  background-color: #1a7ef3;
  border-radius: 10px;
  border: 3px solid #fff;
}
body::-webkit-scrollbar {
  width: 12px;
}

ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
em {
  font-size: inherit;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
  font-style: normal;
  color: inherit;
  margin: 0;
  padding: 0;
}

.move-border {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 1px;
  background-color: #222;
  transition: width 1.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
